a {
    color: #ca5506;
}
a:focus, a:hover {
    color: #b34b00;
}
.text-primary {
    color: #ca5506 !important;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #ca5506;
    border-bottom: 2px solid #ca5506!important;
}
.nav-tabs>li.active>a, .nav-tabs>li>a:hover {
    color: #b34b00 !important;
    border-bottom: 2px solid #ca5506!important;
}
.nav-tabs>li>a::after {
    background: #ca5506!important;
}
.btn-primary, .btn-primary:hover {
    background-color: #ca5506;
    border-color: #ca5506;
}

.content-inner.remove-offset,
.content-inner.active.remove-offset {
    margin-left: 0;
    width: 100%;
}

.font-large {
    font-family: 'Noto Serif TC', serif;
    font-size: 28px;
    font-weight: 500;
}

.font-huge {
    font-family: 'Noto Serif TC', serif;
    font-size: 42px;
    font-weight: 500;
}

.invalid-feedback {
    display: unset;
}

.ck-editor__editable {
    min-height: 150px;
}

.image-gallery {
    margin: 10px -5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    margin: 5px;
    width: 30%;
    max-height: 100px;
    overflow-y: hidden;
}

.tile-image-container {
    position: relative;
    height: 200px;
}

.tile-image-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.image-remove {
    position: absolute;
    top: 3px;
    right: 3px;
    background: url("../img/close.svg") center no-repeat;
    background-size: cover;
    width: 14px;
    height: 14px;
    cursor: pointer;
}

.about-infos .about-title {
    min-height: 40px;
}

.about-image img {
    width: 100%;
}

.source-list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    justify-content: flex-start;
    border: 1px solid #dac9a6;
    background-color: #fffaf4;
    border-radius: 3px;
}

.list-item {
    padding: 10px 20px;
    width: fit-content;
    border-radius: 3px;
    background-color: #ffbc19;
    color: #6d5416;
}

.item-word {
    padding: 0 10px;
    width: fit-content;
    border-radius: 3px;
    background-color: inherit;
    color: #6d5416;
}

.item-success {
    background-color: #68c151;
    color: #f7f3c8;
}

.item-danger {
    background-color: #ea5765;
    color: #f7f3c8;
}

.question-container {
    margin: 10px;
}

.make-sentence {
    margin: 10px 0;
}

.question-body {
    text-align: center;
    color: #6d5416;
}

.draggable-field {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    min-height: 90px;
    border-radius: 5px;
    border: 2px dashed #d4b978;
}

.field-word {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 40px;
    border: none;
    border-bottom: 1px dashed #d4b978;
}

input.short_word {
    width: 120px;
    border: none;
    border-bottom: 1px solid #d4b978;
    color: #6d5416;
}

.btn-previous {
    background-color: #dabbf9;
    border-color: #dabbf9;
    color: #271835;
    transition: all .4s;
}

.btn-previous:hover {
    background-color: #c2a5e0;
    border-color: #c2a5e0;
    color: #271835;
    transition: all .4s;
}

.btn-next {
    background-color: #af85d2;
    border-color: #af85d2;
    color: #271835;
    transition: all .4s;
}

.btn-next:hover {
    background-color: #9c72bc;
    border-color: #9c72bc;
    color: #271835;
    transition: all .4s;
}

.about-icon {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.about-icon.word {
    background: url("../img/icons/word.svg") center;
}

.about-icon.excel {
    background: url("../img/icons/excel.svg") center;
}

.about-icon.power-point {
    background: url("../img/icons/power-point.svg") center;
}

.about-icon.adobe {
    background: url("../img/icons/adobe.svg") center;
}

.about-icon.other-file {
    background: url("../img/icons/file.svg") center;
}

.btn-brand {
    background-color: #ca5506;
    border-color: #ca5506;
    color: #fff;
    transition: all, .3s;
}
.btn-brand:hover {
    background-color: #ca5506;
    border-color: #ca5506;
    color: #fff;
    transition: all, .3s;
}

.review-container {
    margin-top: 50px;
}
.review-container .review-item {
    margin-top: 30px;
}
.review-container .la-star {
 cursor: pointer;
}
.review-container .la-star.gold,
.review-container .la-star.active {
    color: #fec42d;
}
.review-form-container {
    margin-top: 80px;
}

.presentation {
    width: 100%;
    overflow: hidden;
}

.presentation .swiper-slide {
    width: 100%;
}
.presentation .swiper-slide img {
    width: 100%;
    max-height: 100%;
}

.presentation-thumbs {
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
}
.presentation-thumbs .thumb {
    margin-bottom: 10px;
}
.presentation-thumbs img {
    width: 100%;
}

.rutube-frame {
    width: 720px;
    height: 400px;
}

.content-inner.active .container-fluid  {
    min-height: calc(100vh - 120px);
}

.default-sidebar {
    background: #ca5506;
}
.default-sidebar>.side-navbar a[aria-expanded=true],
.default-sidebar>.side-navbar ul ul {
    background: #ca5506;
}
.default-sidebar>.side-navbar a[aria-expanded=true] i, .default-sidebar>.side-navbar li ul li a.active, .default-sidebar>.side-navbar ul a:hover i, .default-sidebar>.side-navbar ul li.active i {
    color: #ebccbc;
}

@media (max-width: 565px) {
    .rutube-frame {
        width: 100%;
    }
}


@media (max-width: 470px) {
    .navbar-holder .main-menu {
        display: none;
    }

    .page-header .page-header-title {
        margin-bottom: 20px;
    }
}