#quiz-result, #quiz-time {
    display: none;
}

tr.header {
    background-color: #dedbe2;
}

tr.header-success {
    background-color: #a7d29e;
}

tr.header-danger {
    background-color: #e8bcbc;
}

.font-large {
    font-family: 'Noto Serif TC', serif;
    font-size: 28px;
    font-weight: 500;
}

.font-huge {
    font-family: 'Noto Serif TC', serif;
    font-size: 42px;
    font-weight: 500;
}

.invalid-feedback {
    display: unset;
}

.ck-editor__editable {
    min-height: 150px;
}

.image-gallery {
    margin: 10px -5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.image-container {
    position: relative;
    margin: 5px;
    width: 30%;
    max-height: 100px;
    overflow-y: hidden;
}

.current-image {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.current-item {
    /*position: relative;*/
}

.file-remove {
    cursor: pointer;
    color: #8f8f8f;
    transition: all .2s;
}

.file-remove:hover {
    color: #4c4c4c;
    transition: all .2s;
}

.about-image img {
    width: 100%;
}

.td-actions button {
    padding: 0;
    background-color: transparent;
    border: none;
}

.td-actions button i {
    background: transparent;
    color: rgba(52, 40, 104, 0.4);
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.td-actions button i.edit:hover,
.td-actions button i.more:hover {
    background: rgba(52, 40, 104, 0.8);
    color: #fff;
}

.td-actions button i.delete:hover {
    background: #e76c90;
    color: #fff;
}

.td-actions a i {
    background: transparent;
    color: rgba(52, 40, 104, 0.4);
    font-size: 1.6rem;
    padding: 0.5rem;
    border-radius: 50%;
    transition: all 0.4s ease;
}

.td-actions a i.edit:hover,
.td-actions a i.more:hover {
    background: rgba(52, 40, 104, 0.8);
    color: #fff;
}

.td-actions a i.delete:hover {
    background: #e76c90;
    color: #fff;
}

/* Quiz Answers Styles */

.source-list {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    min-height: 50px;
    justify-content: flex-start;
    border: 1px solid #e2e2e2;
    background-color: #fbfbfb;
    border-radius: 3px;
}

.list-item {
    padding: 10px 20px;
    width: fit-content;
    border-radius: 3px;
    background-color: #ffbc19;
    color: #6d5416;
}

.item-word {
    padding: 0 10px;
    width: fit-content;
    border-radius: 3px;
    background-color: inherit;
    color: #6d5416;
}

.item-success {
    background-color: #68c151;
    color: #f7f3c8;
}

.item-danger {
    background-color: #ea5765;
    color: #f7f3c8;
}

.question-container {
    margin: 10px;
}

.make-sentence {
    margin: 10px 0;
}

.question-body {
    text-align: center;
    color: #6d5416;
}

.draggable-field {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 140px;
    min-height: 90px;
    border-radius: 5px;
    border: 2px dashed #d4b978;
}

.field-word {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    min-height: 40px;
    border: none;
    border-bottom: 1px dashed #d4b978;
}

.file-wrap,
.file-wrap-new {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid #dedede;
    border-radius: 5px;
    cursor: pointer;
    min-height: 120px;
}

.file-wrap img {
    width: auto;
    height: 100%;
    max-height: 120px;
    object-fit: cover;
}

.file-wrap.active,
.file-wrap-new.active {
    border-color: #6f92e7;
}

.file-wrap[data-type="audio"],
.file-wrap-new[data-type="audio"],
.file-wrap[data-type="file"],
.file-wrap-new[data-type="file"] {
    max-width: 400px;
    height: 200px;
}

.file-wrap .play-pause {
    width: 100%;
    height: 100%;
    background: url("../img/volume.svg") center no-repeat;
    background-size: 30%;
    opacity: 0.5;
}

.file-wrap .document {
    width: 100%;
    height: 100%;
    background: url("../img/doc.svg") center no-repeat;
    background-size: 30%;
    opacity: 0.5;
}

.file-wrap.active .play-pause {
    opacity: 1;
}

.file-icons {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.file-icon {
    margin-left: 5px;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.2);
    transition: all 0.2s;
}

.file-icon:hover {
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.2s;
}

.file-icon.delete i {
    color: #ffffff;
}

.file-icon.edit i {
    color: #ffffff;
}

#preview * {
    width: 100%;
}

.table .td-actions a i.banned {
    color: red;
}

.table-img {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.table-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slides-wrap {
    display: flex;
    flex-wrap: wrap;
}

.slides-wrap .slide-item {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    border: 1px solid #cecece;
}

.slides-wrap .slide-item.empty {
    cursor: pointer;
}

.slides-wrap .slide-item img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.slides-wrap .slide-item:not(.btn-attach) i {
    position: absolute;
    top: 50%;
    height: 50%;
    margin-top: -14px;
    cursor: pointer;
}

.slides-wrap .slide-item:not(.btn-attach):hover i {
    color: #560321;
}

.preview video {
    width: 100%;
    max-width: 800px;
}
.chat .friend-list .list-group-item.active {
    box-shadow: inset 2px 0 0 0 #e76c90;
}

/* Modal */
.modal-open .modal {
    background-color: rgba(46,52,81,.8)
}

.modal-dialog {
    max-width: 1600px;
}